#recipe-card>div{
    display: grid;
    justify-content: center ;
    /* text-align: center                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ; */
}
img{
    height: 400px;
}