*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 15px 0px;
    margin-bottom: 20px;
}

a{
    color: white;
}


div{
    display: grid;
    justify-content: center;
}

input{
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 5px;
}

input[type=submit]{
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}